.group{
    display: flex;
    flex-direction: column;
    padding: 1rem;

    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
    }
    
    article{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        span{
            font-family: 'DM Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #1D1D1D;
        }
    };

    img{
        height: 25px;
        width: 25px;
    }
}