.item-card{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 270px;
    box-shadow: 0px 10px 30px 10px #F2F2F2;
    border-radius: 11px;
    padding: 15px;
    cursor: pointer;

    &:hover{
        transform: scale(1.02);
    }

    .img-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        // position: absolute;
        // bottom: 150px;
        padding: 5px;
        width: 200px;

        span{
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 16px;
        }

        img{
            height: 16px;
            width: 16px;
        }

    }

    img{
        width: 230px;
        height: 175px;
    }

    .item-name{
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 0;
    }

    .description{
        color: #737576;
        font-family: 'DM Sans';
        font-weight: 500;
        font-size: 12px;
        line-height: 26px;
        margin-bottom: 2px;
        margin-top: 4px;
    }

    .prices{
        display: flex;
        flex-direction: row;
        gap: 5px;

        .original-price{
            font-family: 'Poppins';
            font-weight: 700;
            line-height: 24px;
            font-size: 11px;
            text-decoration-line: line-through;
            color: #BDBDBD;
        }
    
        .current-price{
            color: #0E538C;
            font-family: 'Poppins';
            font-style: normal;
            font-size: 14px;
            line-height: 24px;
            font-weight: 700;
        }

        .wholesale{
            color: #0E538C;
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
        }
    }

    .btn-enter{
        border: none;
        border-radius: 6px;
        background: #0E538C;
        color: white;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 12px;
        line-height: 24px; 
        text-transform: uppercase;
        height: 26px;
    }
}