.products-container{
    background-color: #F5F5F5;
    height: 574px;
    padding: 2rem;
    gap: 1rem;

    
    h1{
        color: #38A3A5;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 60px;
        text-transform: uppercase;
    }

    .products{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}