.content{
    width: 400px;
    background: rgba(14, 83, 140, 0.04);
    padding: 1rem;
    border-radius: 10px;

    span{
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 24px;
    }

    ul{
        list-style: none;

        li{
            font-weight: 500;
            font-size: 20px;
            font-family: 'Poppins';
            line-height: 30px;
        }
    }

}