footer{
    background-image: url('/assets/footer-background.png');
    position: absolute;

    box-sizing: border-box;
    padding: 2rem;
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    div{
        display: flex;
        flex-direction: column;

        p{
            font-family: 'Urbanist';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            width: 242px;

            color: #FFFFFF;
        }

        .title{
            font-family: 'Urbanist';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 26px;
            text-transform: capitalize;
        }

        .social{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            img{
                width: 25px;
                height: 25px;

                cursor: pointer;

                &:hover{
                    opacity: 0.8;
                    transform: scale(1.05);
                }
            }
        }

        .input-subscribe{

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;

            input{
                width: 150px;
                height: 30px;
            }

            button{
                display: flex;
                justify-content: center;
                align-items: center;

                width: 36px;
                height: 36px;
                
                background-color: #64A5CA;
                
                border: none;
                
                border-radius: 0px 10px 10px 0px;

                img{
                    height: 20px;
                    width: 20px;
                }
            }
        }

    }
}