.container{
    display: flex;
    flex-direction: column;


    .stores{
        display: flex;
        flex-flow: wrap row;
        justify-content: space-around;
        gap: 2rem;
    }

    h1{
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 48px;
        line-height: 72px;
        text-transform: uppercase;
        color: #0E538C;
        margin-left: 1rem;
    }
}